{% extends 'flagd/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
<div class="game-header">
<h1>About Us</h1>
</div>

<div>
    <div class =".modes-container">
        <div class=".leaderboard-table td ">
            Flag-D is an interactive, engaging and dynamic flag guessing website.  <br />
            Built for everyone, whether your a student looking to brush up on their flag knowlegde for a geography quiz, <br/>
            a Teacher looking for an interactive way to teach students, maybe your someone who wants to show of their general knowlegde or compete against others in our timed leaderboards,
            whatever it is your looking for we've got you covered! </br>
            <img src="{% static 'images/ThumbsUp.png' %}" alt="Picture of Thumbs up emoji" />
        </div>
    </div>
</div>
<div>
<br></br>
        Flag-D has been designed to allow users (yes YOU reading this) to learn flags from memory and recognise countries across the world from each continent </br>
        so that you can stay engaged while studying and ace that upcoming test!  </br>

</div>
{% endblock %}