{% extends 'flagd/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Play
{% endblock %}

{% block body_block %}
    <div class="play-page">
        <h1>Select Game Mode</h1>

        <div class="modes-container">
            <div class="mode">
                <h2>Global</h2>
                <div class="global-card">
                    <img id="globe" src="{% static 'images/globe.png' %}" alt="Picture of a Globe"/>
                </div>
            </div>

            <div class="mode">
                <h2>Continents</h2>
                <div class="continents-container">
                    <div class="continent-card">
                        <img src="{% static 'images/europe.png' %}" alt="Picture of Europe"/>
                        <p>Europe</p>
                    </div>
                    <div class="continent-card">
                        <img src="{% static 'images/africa.png' %}" alt="Picture of Africa"/>
                        <p>Africa</p>
                    </div>
                    <div class="continent-card">
                        <img src="{% static 'images/asiaoceania.png' %}" alt="Picture of Asia Oceania"/>
                        <p>Asia Oceania</p>
                    </div>
                    <div class="continent-card">
                        <img src="{% static 'images/americas.png' %}" alt="Picture of Americas"/>
                        <p>North South America</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}